.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  text-align: start;
}

.wrapperP {
  padding: 5px 8px;
  border: 1px solid #e3e6ec;
  margin: 0;
}

.numberId {
  text-align: center;
  border: 1px solid #e3e6ec;
  margin: 0;
}
